<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>NewGameServlet</servlet-name>
        <servlet-class>servlets.GameCreator.NewGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewGameServlet</servlet-name>
        <url-pattern>/newGame</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnpublishedGameComponentsServlet</servlet-name>
        <servlet-class>servlets.GameCreator.UnpublishedGameComponentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnpublishedGameComponentsServlet</servlet-name>
        <url-pattern>/Manager/GameCreator/GameComponents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindGameServlet</servlet-name>
        <servlet-class>servlets.Game.FindGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindGameServlet</servlet-name>
        <url-pattern>/Player/FindGame</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameEntryServlet</servlet-name>
        <servlet-class>servlets.Game.JoinGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameEntryServlet</servlet-name>
        <url-pattern>/Player/GameEntry</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameLobbyServlet</servlet-name>
        <servlet-class>servlets.Game.GameLobbyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameLobbyServlet</servlet-name>
        <url-pattern>/Player/GameLobby</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RiddleServlet</servlet-name>
        <servlet-class>servlets.Game.RiddleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RiddleServlet</servlet-name>
        <url-pattern>/Player/Riddle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.UserActions.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/User/Profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FaceBookLoginServlet</servlet-name>
        <servlet-class>servlets.FaceBookLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FaceBookLoginServlet</servlet-name>
        <url-pattern>/FaceBookLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TokenVerificationServlet</servlet-name>
        <servlet-class>servlets.TokenVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenVerificationServlet</servlet-name>
        <url-pattern>/TokenVerification</url-pattern>
    </servlet-mapping>
</web-app>